body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4caf50;
    color: white;
}

img {
    max-height: 50px;
}

button {
    margin-top: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center; /* Centra el contenido horizontalmente */
}

img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: auto; /* Centra la imagen dentro de su contenedor */
    display: block; /* Elimina espacios no deseados alrededor de la imagen */
}
